.display__flex{
    display: flex;
}

.input__width{
    width: 80%;
}

.input__decor{
    border: none;
}

.input__decor:focus{
    outline: none;
}

.input__padding{
    padding: 1rem 0;
}

.input__decor:focus::placeholder{
    transition: 0.25s;
    opacity: .5;
}

.display__AvaPosition{
    margin: 50% 1rem 50%;
}

.hover__decor:hover{
    transition: 0.25s;
    background: #f5f7fa;
}

.NavLinks__fontsDecor{
    text-decoration: none;
}

.text__NameFontsDecor{
    color: #000;
    font-weight: 500;
}

.text__MessageFontsDecor{
    color: #000;
    font-weight: 300;
    opacity: .8;
}

.border__borderBottom{
    border-bottom: .001rem solid #d6d6d6;
    width: 100%;
}

.lastImg__decor{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto 1rem;
}