.button__decor{
    border: none;
    background: #3a356a;
    color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0 .2rem #606060;
    cursor: pointer;
}

.button__decor:focus {
    outline: none;
}

.button__decor:hover {
    transition: 0.25s;
    cursor: pointer;
    background: #8445c2;
}

.button__padding {
    padding: .5rem;
}

.button__margins {
    margin: 0 .1rem .5rem .5rem;
}

