.button__decor{
    border: none;
    background: #3a356a;
    color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0 .2rem #606060;
    cursor: pointer;
}

.button__decor:focus {
    outline: none;
}

.button__decor:hover {
    transition: 0.25s;
    cursor: pointer;
    background: #8445c2;
}

.button__padding {
    padding: .5rem;
}

.button__margins {
    margin: 0 .1rem .5rem .5rem;
}

.button_selected__decor{
    color: black;
    background: #fff;
    transform: scale(1.2);
}

.button_selected__decor:hover{
    background: #fff;
}

.pages_container__flex {
    display: flex;
    margin-bottom: 1rem;
}

.pages_portionButtons__size {
    flex-basis: 10%;
}

.pages_pageButtons__size {
    flex-basis: 80%;
}

.pages_pageButtons__width {
    width: 2.35rem;
}
.pages_portionButtons__width {
    width: 2.75rem;
}
.pages_pageButtons__margin {
    margin-right: .97rem;
}

.pages_portionButtonsPrev__margin {
    margin-right: 2rem;
}
.pages_portionButtonsNext__margin {
    margin-left: 1rem;
}


