.main__displayGRid{
    display: grid;
    max-width: 100%;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: auto;
    /*border: 5px solid black;*/
    /*margin: 0 auto;*/
}

.inside_ContentProfile__displayFlex{
    display: flex;
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: .5fr 3fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}

.inside_ProfileCenter__FlexProportion{
    flex: 1 1 0;
    margin-right: 2rem;
}

.inside_ProfileRight__FlexProportion{
    flex: 3 1 0;
}
