.container__menu{
    background: #3a356a;
    height: 4rem;
}

.container__menu_flex{
    display: flex;
    padding: .5rem;
    list-style-type: none;
    /*border-radius: 1rem;*/
    margin: 0;
}

.container__menu_flex > li > a {
    display: block;
    text-decoration: none;
    max-width: 10rem;
    padding: .5rem .7rem;
    background: #2d2951;
    color: #ffffff;
    border-radius: 1rem;
}

.container__menu_flex > li + li{
    margin-left: 2rem;
}

.container__menu_flex > .right{
    margin-left: auto;
}


.log_img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.log__margin {
    margin: 0 auto;
}

.log__padding {
    padding: .5rem;
}

.log_img__cursorPointer {
    cursor: pointer;
}

.log__button {
    border: none;
    background: #5a368b;
    color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0 .2rem #606060;
    cursor: pointer;
}

.log__buttonWidth {
    width: 5rem
}

.log__button:active, .log__button:focus {
    outline: none;
}

.log_display__flex {
    display: flex;
}


